<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="__${template}__/fragments/layout :: head"></head>
<body>
<nav th:replace="__${template}__/fragments/layout :: menu-header"></nav>
<div class="container">
    <div class="row">
        <div th:replace="__${template}__/fragments/layout :: menu-categories"></div>
        <div class="col-lg-9 my-4" th:fragment="items">
            <input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="row">
                <!--/*@thymesVar id="items" type="ru.torgcrm.ecommerce.shop.models.Item"*/-->
                <!--/*@thymesVar id="item" type="ru.torgcrm.ecommerce.shop.models.Item"*/-->
                <div class="col-lg-4 col-md-6 mb-4" th:each="item : ${items}">
                    <div class="card category-item-card">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""/></a>
                        <div class="card-body">
                            <div class="h5">
                                <a class="card-title" th:href="${item.getPermanentUrl()}" th:text="${item.title}"></a>
                            </div>
                            <div>
                                <span>Price: </span><span th:text="${item.price}"></span>
                            </div>
                            <div>
                                <p class="card-text" th:text="${item.description}"></p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn btn-small btn-secondary addToCart">Add to cart</div>
                            <div class="btn btn-small btn-primary clickToBuy">Click to buy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 bg-dark" th:replace="__${template}__/fragments/layout :: footer"></footer>
</body>
</html>
